body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/arrière.jpg");
  background-size: 655vh;
  background-position-x: -1900px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/arrière.jpg");
    background-size: cover;
    background-position-x: 0px;
    background-repeat: no-repeat;
  }
}
