:root {
  --background-color-btn: black;
  --background-color-btn1: red;
  --color-icons: white;
}

button {
  cursor: pointer;
}

.fa-shopping-cart {
  color: white;
}

.add_panier {
  margin-top: 15px;
  align-items: center;
  text-align: center;
}

.add_panier button {
  cursor: pointer;
  background-color: var(--background-color-btn);
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 3%;
  border: none;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 black;
  transition: 0.5s ease-in-out;
}

.add_panier button:hover {
  box-shadow: inset 300px 0 0 0 red;
}

.plus {
  margin-top: 55px;
  align-items: center;
  text-align: center;
  margin-bottom: -50px;
}

.plus button {
  cursor: pointer;
  background-color: var(--background-color-btn1);
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 3%;
  border: none;
  border-radius: 50px;
  margin-bottom: 55px;
}

.sort_by button {
  cursor: pointer;
  padding: 2%;
  background-color: var(--background-color-btn1);
  border: none;
  border-radius: 10px;
  opacity: 0.6;
  margin-right: 3%;
  display: flex;
  align-items: center;
}

.fa-sort-amount-down {
  color: white;
}

.fa-exclamation-circle {
  color: white;
}

.fa-book {
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(255, 112, 112);
}

.book_price button {
  background-color: rgb(255, 100, 100);
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  padding: 2% 2%;
  width: 40%;
}

@media screen and (min-width: 700px) {
  .add_panier button {
    padding: 1%;
  }

  .plus button {
    padding: 1%;
  }

  .stocks_sets button {
    background-color: var(--background-color-btn1);
    color: white;
    border: none;
    padding: 2%;
    border-radius: 10px;
    font-size: 20px;
  }

  .stocks_sets button a {
    color: white;
  }

  .sort_by button {
    padding: 2% 2%;
    margin-left: 0%;
    margin-right: 0px;
  }

  #try_for {
    width: 100%;
  }

  .fa-sort-amount-down {
    font-size: 20px;
    color: white;
  }

  .fa-exclamation-circle {
    font-size: 20px;
    color: var(--color-icons);
  }

  .fa-book {
    font-size: 40px;
    margin-left: 150px;
    margin-right: 20px;
  }

  .book_price button {
    width: 25%;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .plus {
    margin-left: 2%
  }
}
