.burger_menu {
  display: initial;
}

.burger {
  display: flex;
  cursor: pointer;
}

.first_bar {
  width: 30px;
  height: 6px;
  border-radius: 8px;
  background-color: red;
  transform: rotateZ(-45deg);
  margin-right: 0px;
}

.second_bar {
  width: 30px;
  height: 6px;
  border-radius: 8px;
  background-color: red;
  transform: rotateZ(-45deg);
  margin-left: -10px;
}

.fa-times {
  font-size: 30px;
  color: red;
}

.mainMenu {
  display: none;
  padding: 50px 30px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  width: 100%;
  height: 712px;
  transition: top 5s ease-in-out;
}

.mainMenu li {
  margin-top: 30px;
}

.mainMenu li a {
  color: black;
  font-size: 25px;
}

.mainMenu li a:hover {
  color: red;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 700px) {
  .burger_menu {
    display: none;
  }  
}