/*head deskop*/

@media screen and (min-width: 700px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }

  .head_title li a:hover {
    font-size: 2rem;
    transition: 0.3s ease-in-out;
  }

  #inside {
    text-decoration: underline solid red 3px;
  }

  #M_Market {
    width: 10%;
  }

  .fa-search {
    font-size: 25px;
  }

  .search_bar {
    display: initial;
    width: 25%;
  }

  .search_bar input {
    text-align: center;
    align-items: center;
    border: none;
    width: 70%;
    padding: 15px;
    font-family: "Anime Ace 2.0 BB", arial;
    background: none;
    outline: none;
    font-size: 1rem;
  }

  .search_bar input::placeholder {
    font-size: 15px;
    color: black;
  }

  .head_title {
    display: flex;
  }

  .head_title li {
    font-size: 25px;
  }
}

/*main deskop*/

@media screen and (min-width: 700px) {
  .container {
    margin: 5%;
  }

  .bvn {
    height: 30%;
    width: 100%;
    display: flex;
    padding: 2% 0;
  }

  /*slider*/

  .hero {
    height: 350px;
    width: 30%;
    margin-right: 50px;
  }
}

/*POPULARY*/

@media screen and (min-width: 700px) {
  .preview {
    margin-top: 75px;
  }

  .first_book {
    width: 100%;
    margin-left: 15px;
  }

  .book_title {
    margin-top: 50px;
    margin-left: 45px;
  }

  .script {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
  }

  .script img {
    width: 45%;
  }

  .bolck_text {
    margin-top: 0px;
    padding: 2% 4%;
    max-width: 40%;
    text-align: left;
    align-items: center;
  }
}

/*footer*/

@media screen and (min-width: 700px) {
  
  footer {
    margin-top: 30px;
    background-color: white;
    width: 100%;
    z-index: 5;
    bottom: 0;
    padding: 15px 0%;
    display: inline-block;
    align-items: center;
    text-align: center;
    box-shadow: -5px -5px 10px black;
  }

  .foot_block {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 80%;
  }

  .contact {
    display: flex;
    justify-content: space-between;
  }

  .insta {
    display: flex;
    align-items: center;
  }

  .fa-instagram {
    margin-right: 10px;
    font-size: 50px;
  }

  .wha {
    display: flex;
    align-items: center;
  }

  .fa-whatsapp {
    margin-right: 10px;
    font-size: 50px;
  }
}
