/*head deskop*/

@media screen and (min-width: 700px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }

  .head_title li a:hover {
    font-size: 2rem;
    transition: 0.3s ease-in-out;
  }

  #inside {
    text-decoration: underline solid red 3px;
  }

  #M_Market {
    width: 10%;
  }

  .fa-search {
    font-size: 25px;
  }

  .search_bar {
    display: initial;
  }

  .search_bar input::placeholder {
    font-size: 20px;
    color: black;
  }

  .head_title {
    display: flex;
  }

  .head_title li {
    font-size: 25px;
  }
}

/*main deskop*/

@media screen and (min-width: 700px) {
  .container {
    margin: 5%;
  }

  .bvn {
    height: 380px;
    width: 100%;
    display: flex;
    padding: 2% 0;
  }

  /*slider*/

  .hero {
    height: 350px;
    width: 30%;
    margin-right: 50px;
  }
}

/*POPULARY*/

@media screen and (min-width: 700px) {
  .preview {
    margin-top: 75px;
  }

  .first_book {
    width: 100%;
    margin-left: 15px;
  }

  .book_title {
    margin-top: 50px;
    margin-left: 45px;
  }

  .script {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
  }

  .script img {
    width: 45%;
  }

  .bolck_text {
    margin-top: 0px;
    max-width: 500px;
    text-align: left;
    align-items: center;
  }
}

/*footer*/

@media screen and (min-width: 700px) {
  footer {
    box-shadow: -5px -5px 10px black;
  }

  .fa-instagram {
    font-size: 50px;
  }

  .fa-whatsapp {
    font-size: 50px;
  }
}
