/*css page 3 : panier*/

.my_aset {
  display: none;
}

.block_tomes2 {
  margin-top: 150px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 2% 0px;
}

.book_title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  padding: 2% 0%;
  background-color: black;
  width: 90%;
  margin-bottom: 35px;
}

.book_descript {
  align-items: center;
  text-align: center;
}

.book_text h3 {
  color: red;
}

.book_text b {
  color: black;
}

.book img {
  width: 70%;
}

.book_price h1 {
  font-size: 15px;
}

.book_price {
  display: flex;
  width: 97%;
  background-color: gray;
  padding: 2% 1.5%;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .my_aset {
    margin-top: 110px;
    display: initial;
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 95%;
    padding: 3%;
  }

  .block_tomes2 {
    margin-top: 0px;
  }

  .my_aset h2 {
    font-size: 35px;
    align-items: center;
    font-family: "animeace2_bld";
  }

  .aset_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .aset_block {
    display: inline-block;
    width: 100%;
    margin-right: 40px;
  }

  .sub_list {
    width: 100%;
    box-shadow: 10px 10px 8px 0px black;
  }

  .list_img {
    display: inline-block;
    width: 100%;
  }

  .list_img img {
    width: 100%;
    z-index: -1;
  }

  .list_text {
    margin-top: -10px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 35%;
    z-index: +3;
  }

  .list_text h3 {
    font-size: 15px;
    color: red;
    margin-bottom: 0px;
    font-family: "animeace2_bld";
  }

  .list_text h4 {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 10px;
  }

  .logo_list {
    position: relative;
    width: 120px;
    height: 120px;
    align-items: center;
    text-align: center;
    background-color: white;
    opacity: 1;
    border-radius: 500px;
    margin-top: -130px;
    margin-left: 10px;
  }

  .logo_list img {
    width: 75%;
    margin-top: 20px;
  }

  .descript_list {
    border-top: 2px solid red;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "animeace2_bld";
  }

  .descript_list h4 {
    font-size: 15px;
  }

  .descript_list div {
    align-items: center;
    display: flex;
    font-size: 20px;
  }

  .descript_list div h4 {
    margin-left: 15px;
    font-size: 15px;
  }

  .rond {
    color: black;
  }

  .block_tomes2 {
    width: 65%;
  }

  .book {
    display: flex;
    margin-bottom: 105px;
  }

  .book {
    margin-left: 50px;
  }

  .book_text {
    text-align: left;
    margin-right: 35px;
    margin-left: 35px;
  }

  .book_title {
    width: 93%;
  }

  .book_title h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .book_price {
    width: 100%;
    padding: 0%;
    justify-content: space-between;
  }

  .book_price h1 {
    font-size: 30px;
    margin-left: 100px;
  }
}
