@import url("head-foot.css");
@import url("btn.css");
@import url("text.css");
@import url("backgroundhome.css");
@import url("trait.css");
@import url("menuburger.css");
@import url("icons.css");
@import url("modepc.css");

@import url(https://allfont.net/allfont.css?fonts=anime-ace-20-bb);
@import url(https://allfont.net/allfont.css?fonts=anime-ace-20-bb-italic);
@import url(https://allfont.net/allfont.css?fonts=anime-ace-20-bb-bold);
