@import url("head-foot.css");
@import url("btn.css");
@import url("text.css");
@import url("trait.css");
@import url("menuburger.css");
@import url("modepc.css");
@import url("maintomes.css");
@import url("page3.css");

@font-face {
    font-family: "animeace2_bld";
    src: url(../font/animeace2_bld.otf) format("truetype");
}