:root {
  --display: none;
  --border: 2px solid red;
  --border-radius: 15px;
}

.bar_contour1 {
  display: var(--display);
  width: 2px;
  border: 1px solid red;
  border-radius: var(--border-radius);
  background-color: red;
  height: 40px;
  margin-right: -80px;
  margin-left: -50px;
}

.bar_contour2 {
  display: var(--display);
  width: 2px;
  border: 1px solid red;
  border-radius: var(--border-radius);
  background-color: red;
  height: 40px;
  margin-left: -50px;
}

.surlign1 {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 330px;
  margin-left: 0%;
}

.surlign2 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 270px;
  margin-left: 7%;
  opacity: 0.7;
}

.surlign3 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 220px;
  margin-left: 15%;
  opacity: 0.5;
}

.surlign4 {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 300px;
  margin-left: 9%;
}

.surlign5 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 200px;
  margin-left: 9%;
  opacity: 0.7;
}

.surlign6 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 150px;
  margin-left: 9%;
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  :root {
    --display: flex;
  }

  .surlign1 {
    width: 550px;
  }

  .surlign2 {
    width: 450px;
  }

  .surlign3 {
    width: 350px;
  }

  .surlign4 {
    width: 400px;
    margin-left: 34.5%;
  }

  .surlign5 {
    width: 300px;
    margin-left: 34.5%;
  }

  .surlign6 {
    margin-left: 34.5%;
  }
}
