/*css des souligner*/

:root {
  --display: none;
  --border: 2px solid red;
  --border-radius: 15px;
}

.bar_contour1 {
  display: var(--display);
  width: 2px;
  border: 1px solid red;
  border-radius: var(--border-radius);
  background-color: red;
  height: 40px;
}

.bar_contour2 {
  display: var(--display);
  width: 2px;
  border: 1px solid red;
  border-radius: var(--border-radius);
  background-color: red;
  height: 40px;
}

.surlign1 {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100%;
  margin-left: 0%;
}

.surlign2 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 80%;
  margin-left: 7%;
  opacity: 0.7;
}

.surlign3 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 60%;
  margin-left: 15%;
  opacity: 0.5;
}

.surlign4 {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 75%;
  margin-left: 9%;
}

.surlign5 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 55%;
  margin-left: 9%;
  opacity: 0.7;
}

.surlign6 {
  margin-top: 25px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 35%;
  margin-left: 9%;
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  :root {
    --display: flex;
  }

  .surlign1 {
    width: 75%;
  }

  .surlign2 {
    width: 60%;
  }

  .surlign3 {
    width: 45%;
  }

  .surlign4 {
    width: 25%;
    margin-left: 34.5%;
  }

  .surlign5 {
    width: 15%;
    margin-left: 34.5%;
  }

  .surlign6 {
    width: 8%;
    margin-left: 34.5%;
  }
}
